<!DOCTYPE html>
<html>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Authorize App</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
  <form id='form-authorize' action='/token' method='POST'>
    <div class='form-section'>
      <label for='code'>Access Code</label>
      <input name='code' type='text'>
    </div>
    <div class='form-section'>
      <label for='client-id'>Client ID</label>
      <input name='client-id' type='text'>
    </div>
    <div class='form-section'>
      <label for='client-secret'>Client Secret</label>
      <input name='client-secret' type='text'>
    </div>
    <div class='form-section'>
      <label for='redirect-uri'>Redirect URI</label>
      <input name='redirect-uri' type='text'>
    </div>
    <div class='form-section'>
      <input type='submit'>
    </div>
  </form>
</body>

</html>